
h1 {
    text-align: center;
    color: #f2f2f2;
    margin: 0 auto;
    font-weight: normal;
  }
  
  h3 {
    text-align: center;
    margin: 10px auto;
    color: #888;
    font-weight: normal;
  }
  
  .wrap p {
    position: absolute;
  
    top: 50%;
    left: 20px;
    margin: 0 auto;
    color: #000;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: 1px;
  }
  
  .wrap {
    position: relative;
    width: 600px;
    height: 30px;
    margin: 25px auto;
    padding: 0;
    background: #444;
    border-radius: 5px;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s .15s ease;
  }
  @media screen and (max-width: 600px) {
    .wrap {
      position: relative;
      width: 300px;
      height: 30px;
      margin: 25px auto;
      padding: 0;
      background: #444;
      border-radius: 5px;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s .15s ease;
    }
  }
  @media screen and (max-width: 300px) {
    .wrap {
      position: relative;
      width: 300px;
      height: 30px;
      margin: 25px auto;
      padding: 0;
      background: #444;
      border-radius: 5px;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s .15s ease;
    }
  }
  @media screen and (max-width: 200px) {
    .wrap {
      position: relative;
      width: 150px;
      height: 30px;
      margin: 25px auto;
      padding: 0;
      background: #444;
      border-radius: 5px;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s .15s ease;
    }
  }
  
  .bar {
    height: 30px;
    border-radius: 5px;
    transition: .25s ease;
  }
 
  
  .html {
    width: 60%;
    background: steelblue;
    -webkit-animation: html 2s;
    -moz-animation: html 2s;
    -o-animation: html 2s;
    animation: html 2s;
  }
  
  .css {
    width: 100%;
    background: gold;
    -webkit-animation: css 2s;
    -moz-animation: css 2s;
    -o-animation: css 2s;
    animation: css 2s;
  }
  
  .jquery {
    width: 65%;
    background: rgb(184, 255, 17);
    -webkit-animation: jquery 2.1s;
    -moz-animation: jquery 2.1s;
    -o-animation: jquery 2.1s;
    animation: jquery 2.1s;
    
  }
  
  .js{
    width: 60%;
    background: crimson;
    -webkit-animation: js 1.8s;
    -moz-animation: js 1.8s;
    -o-animation: js 1.8s;
    animation: js 1.8s;
  }
  
  .php{
    width: 70%;
    background: limegreen;
    -webkit-animation: php 2.9s;
    -moz-animation: php 2.9s;
    -o-animation: php 2.9s;
    animation: php 2.9s;
  }
  
  .wrap span {
    display: block;
    float: right;
    padding-right: 15px;
    color: #222;
    line-height: 30px;
    -webkit-animation: span 2s 1.7s forwards;
    -moz-animation: span 2s 1.7s forwards;
    -o-animation: span 2s 1.7s forwards;
    animation: span 2s 1.7s forwards;
    opacity: 0;
  }
  
  .desc {
    display: none;
    box-sizing: border-box;
    padding: 10px;
    width: 600px;
    background: #333;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .desc p {
    color: white;
    margin: 0 auto;
  }
  
  /* Keyframes
  -------------------- */
  
  
  /* html
  --------- */
  @-webkit-keyframes html {
    from { width:  0%; }
    to   { width: 60%; }
  }
  @-moz-keyframes html {
    from { width:  0%; }
    to   { width: 60%; }
  }
  @-o-keyframes html {
    from { width:  0%; } 
    to { width:   60%; }
  }
  @keyframes html {
    from { width:  0%; } 
    to { width:   60%; }
  }
  
  /* css
  --------- */
  @-webkit-keyframes css {
    from { width:  0%; }
    to   { width: 100%; }
  }
  @-moz-keyframes css {
    from { width:  0%; }
    to   { width: 100%; }
  }
  @-o-keyframes css {
    from { width:  0%; }
    to   { width: 100%; }
  }
  @keyframes css {
    from { width:  0%; }
    to   { width: 100%; }
  }
  
  /* jquery
  --------- */
  @-webkit-keyframes jquery {
    from { width:  0%; }
    to   { width: 65%; }
  }
  @-moz-keyframes jquery {
    from { width:  0%; }
    to   { width: 65%; }
  }
  @-o-keyframes jquery {
    from { width:  0%; }
    to   { width: 65%; }
  }
  @keyframes jquery {
    from { width:  0%; }
    to   { width: 65%; }
  }
  
  /* js
  --------- */
  @-webkit-keyframes js {
    from { width:  0%; }
    to   { width: 60%; }
  }
  @-moz-keyframes js {
    from { width:  0%; }
    to   { width: 60%; }
  }
  @-o-keyframes js {
    from { width:  0%; }
    to   { width: 60%; }
  }
  @keyframes js {
    from { width:  0%; }
    to   { width: 60%; }
  }
  
  /* php
  --------- */
  @-webkit-keyframes php{
    from { width:  0%; }
    to   { width: 70%; }
  }
  @-moz-keyframes php{
    from { width:  0%; }
    to   { width: 70%; }
  }
  @-o-keyframes php{
    from { width:  0%; }
    to   { width: 70%; }
  }
  @keyframes php{
    from { width:  0%; }
    to   { width: 70%; }
  }
  
  
  @-webkit-keyframes span {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-moz-keyframes span {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-o-keyframes span {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @keyframes span {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

 