
.grid {
  display: grid;
  width: 50px 25px 25px 15px;
  box-sizing: 50px;
  grid-gap: 50px;
  padding-left: 10px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
  align-items: start;
}
@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
.grid__item {
  background-color: #fff;
  padding: 20px,20px,20px,20px;
  border-radius: 0.4rem gray;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100% 150% 100%;
  height: 14rem;
  object-fit: cover;
}
.card__content {
  padding: 1rem 1rem;
}
.card__header {
  font-size: 20px;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 0.5rem;
}
.card__text {
  font-size:10px;

  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 1rem;
}

a:hover{
  color: #3d3d3d;
}
.card__btn {
  display: block;
  width: 50%;
  font-size: 0.8rem;
  text-align: center;

  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1rem;
}